/vendor/
/node_modules/
.env
.env.*
/bootstrap/cache/*.php
/storage/*
!/storage/app
!/storage/app/public
!/storage/logs
!/storage/framework
/public/storage/
/public/hot
/public/build
/public/uploads/
*.log
.DS_Store
*.swp
.idea/
.vscode/
